main {
    text-align: center;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    padding-top: 10px;
    margin: auto;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

p, label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 20px auto;
}

.hidden {
    display: none;
}

.container {
    max-width: 600px;
    margin: auto 25%;
    justify-content: center;
}

img {
    max-height: 275px;
    margin: 20px auto;
}